* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  font-family: font;
}

* a {
  text-decoration: none;
}

.container, .container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}

.hero {
  height: 100vh;
}

.hero .carousel {
  height: 100%;
}

.hero .carousel .carousel-item {
  position: relative;
}

.hero .carousel .carousel-item .txt {
  position: absolute;
  left: 7%;
  top: 28%;
  width: 35%;
}

.hero .carousel .carousel-item .txt h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
}

.hero .carousel .carousel-item .txt p {
  color: #fff;
  line-height: 2.1;
  font-size: 1.3rem;
  text-align: left;
}

.hero .carousel .carousel-item .txt .line {
  background-color: #e20e0f;
  width: 111px;
  height: 3px;
  margin: 1.3rem 0;
}

.hero .carousel .carousel-item .nav {
  padding: 0 5rem;
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 4rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .carousel .carousel-item .nav .logo {
  width: 30%;
}

.hero .carousel .carousel-item .nav .nav-link {
  width: 50%;
  padding: 0;
}

.hero .carousel .carousel-item .nav .nav-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .carousel .carousel-item .nav .nav-link ul li a {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
}

.zoom-items {
  height: auto;
  background-color: #000;
}

.zoom-items .img-hover-zoom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zoom-items .img-hover-zoom:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.zoom-items .img-hover-zoom img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.zoom-items .img-hover-zoom .text {
  position: absolute;
  width: 80%;
}

.zoom-items .img-hover-zoom .text p {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.zoom-items .img-hover-zoom .text h5 {
  text-align: center;
  opacity: 0;
  color: #bbb;
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 300;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.zoom-items .img-hover-zoom:hover h5 {
  opacity: 1;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.photix {
  height: 75vh;
  background-color: #000;
  font-family: font;
}

.photix .item-left {
  width: 100%;
  height: 100%;
}

.photix .right-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photix .right-item .right-text {
  width: 85%;
}

.photix .right-item .right-text h1 {
  color: #fff;
  font-size: 3rem;
}

.photix .right-item .right-text p {
  color: #7A7A7A;
  font-size: 1.6rem;
  line-height: 1.6;
}

.boxes {
  background-image: url("../img/bg-1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  height: 38vh;
}

.boxes .box {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.boxes .box h1 {
  font-size: 5rem;
}

.boxes .box p {
  font-size: 1.7rem;
}

.slider {
  height: auto;
  background-color: #000;
}

.slider .image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.slider .image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.slider .image p {
  position: absolute;
  color: #fff;
  font-size: 2rem;
}

.slider .image img {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.ftr {
  background-color: black;
  height: 10vh;
  font-family: font;
}

.ftr .copy {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ftr .copy p {
  margin: 0;
  font-size: 1.3rem;
  color: #fff;
}

.ftr .icons {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ftr .icons i {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 1.3rem;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.ftr .icons i:hover {
  color: red;
}

.carousel-control-next, .carousel-control-prev {
  width: 8% !important;
}
/*# sourceMappingURL=style.css.map */